
.show{
  display : block;
}
.hide{
  display : none;
}
.report-container,.grouphierarchy-tree-section , .status-messages {
    margin: 45px auto;
  }
  .report-description{
    margin-top : 20px;
  }
  .group-seperation{
    margin-top : 40px;
  }

  .new-groups,.existing-groups{
    border:1px solid grey;
    height: 300px;
    box-shadow: 5px 5px 3px grey;
    overflow: scroll;
  }

  .reportgroup-buttons{
    margin-top : 40px;
  }
  .reportgroup-delete{
    background-color: #d41b3e !important;
    color: #ffffff !important;
    cursor: pointer;
    border-color: #D41B42 !important;
    float: left;
    padding: 10px 25px !important;
  }
  .reportgroup-delete,.reportgroup-cancel{
    margin-left : 5px;
  }

  .reportgroup-cancel{
    font-size: 14px !important;
    font-weight: bold;
    vertical-align: middle;
    color: #D41B3E;
    text-decoration: none;
    margin-top: 6px;
  }
  .reportgroup-cancel:hover{
    color: #D41B3E;
    text-decoration: underline;
  }
  .unlinked-grouplist,.linked-groupList{
    list-style:none;
    padding-left:0px;
    padding-top: 10px;
  }

  .select-all-groups{
    padding:10px 0px;
  }
  .group-name-label, .group-label-description{
    font-weight : 100;
  }
  .save-group-btn,.reportgroup-delete,.reportgroup-cancel, .add-group-btn{
    border-radius : 0 !important;
  }

  .add-group-btn {
    background-color: #d41b3e !important;
    color: #ffffff !important;
    cursor: pointer;
    border-color: #D41B42 !important;
  }

  .save-group-btn{
    background-color: #d41b3e !important;
    color: #ffffff !important;
    cursor: pointer;
    border-color: #D41B42 !important;
    float: left;
    padding: 10px 25px !important;
  }

  .move-group-store{
    text-align:center;
        top: 150px;
  }

  .reportgroup-buttons{
      margin-bottom: 10px;
  }

  .reportgroup-name{
    margin-top : 20px;
  }

  .reportHierarchyContainer{
    width : 850px !important;
  }
  .grouphierarchy-tree{
    margin-top : 20px;
  }

/* .rc-tree li span.rc-tree-checkbox , .rc-tree-iconEle.rc-tree-icon__close, .rc-tree li span.rc-tree-iconEle{
  display : none !important;
} */

.rc-tree li.treeNode span.rc-tree-checkbox , li.treeNode .rc-tree-iconEle.rc-tree-icon__close, .rc-tree li.treeNode span.rc-tree-iconEle{
  display : none !important;
}

.treeNode span.rc-tree-switcher{


  background-size: cover; /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
 -webkit-background-size: cover; /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
 -moz-background-size: cover; /* optional for Firefox 3.6 */
  width: 28px !important;
  height: 30px !important;
}
.group-node span.rc-tree-title{
    text-decoration: underline;
    color: blue;
}
.store-node span.rc-tree-title{
    text-decoration:none;
    color: #212529;
}
.hierarchy-tree{
  font-size: 14px;
}

.grouphierarchy-tree{
  border: 1px solid grey;
  /*height: 450px;*/
  width: 100%;
  overflow: auto;
  padding:10px !important;
  background-color:#ffffff !important
}

.grouphierarchy-tree .rc-tree li span.rc-tree-switcher.rc-tree-switcher_open {
        background: url('../../images/downArrow.PNG') !important;
        background-position: -93px -56px;
    }

.grouphierarchy-tree .rc-tree li span.rc-tree-switcher.rc-tree-switcher_close {
    background: url('../../images/sideArrow.PNG') no-repeat !important;
    background-position: -75px -56px;
}
.grouphierarchy-tree .rc-tree-title {
    padding-left:10px;
}

.report-group-cancel {
    margin-left:10px;
}

.moveToHierarchy {
  margin-bottom:10px;
}

.btn-pipe{
  font-size: 16px;
  float: left;
  margin-left: 8px;
  margin-top: 5px;
  font-weight: bold;
}

.rc-tree li span.rc-tree-switcher.rc-tree-switcher_close{
  background: url('../../images/sideArrow.PNG') ;
  background-size: contain;
}

.rc-tree li span.rc-tree-switcher.rc-tree-switcher_open{
  background: url('../../images/downArrow.PNG') ;
  background-size: contain;
}
.rc-tree.rc-tree-show-line li:not(:last-child) > ul, 
.rc-tree.rc-tree-show-line li:not(:last-child) > .rc-tree-switcher-noop,
.rc-tree.rc-tree-show-line li:last-child > .rc-tree-switcher-noop
{
  background: none;
}

