.storeTable.ctable {
    margin: 0 auto;
}

.stores .forms h3 {
    font-size: 30px;
    margin-bottom: 17px;
}

.stores span.additem {
    background-color: #D41B3E;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 13px !important;
    padding: 10px 20px;
    margin-right:10px;
}

.stores .settings_search {
    height: 90px;
    padding: 0 0 10px;
}


.stores .forms {
    margin-bottom: 25px;
    margin-top: 47px;
}

.stores .theader, .stores .cheader {
    border: 1px solid #b9b9b9;
    color: #757575;
}


.stores #brand_space {
    width: 115px;
}

.stores tr.theader th {
    font-size: 16px !important;
}
.stores .ctable th {
    padding: 10px;
}
.stores .forms th {
    font-size: 14px !important;
    text-align: left;
}


.stores img.cstat {
    margin-left: auto;
    margin-right: auto;
    padding: 0 5px;
}

.stores .ctable td.store_checkbox {
    line-height: 40px;
}

.stores .tdata:hover {
    background-color: #c4e9f1;
    border-bottom: 1px solid #709da2;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.stores .tdata, .stores .cdata {
    background-color: #ffffff;
    border-bottom: 1px solid #b9b9b9;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    color: #000000;
}

.masterSettings{
   display:flex;
   width: 100%;
}
.masterSettings .versions{
    font-size: 30px !important;
    margin: 25px 0px 17px 0px !important;
    border: none !important;
}

.masterSettings .form_cbox {
    border: 1px solid #B9B9B9;
    height: 125px;
    margin: 5px 0 0 5px;
    overflow: auto;
    padding: 5px;
    width: 250px;
}

.masterSettings .forms input[type=submit] {
    background-color: #d41b3e;
    border: none;
    float: right;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 25px;
}

.sys-settings.forms {
    margin-bottom: 25px;
    margin-top: 47px;
    color: rgb(0, 0, 0);
}
.sys-settings h3.clear {
    font-size: 30px;
    margin-bottom: 17px;
}
.sys-settings .system_header {
    float: left;
}
.sys-settings .device_header {
    float: left;
    margin-left:8em;
}
.sys-settings .settab {
    width: 430px;
    float: left;
}

.sys-settings .settab tbody, .sys-settings .settab tr, .sys-settings span , .sys-settings th, .sys-settings ul, .sys-settings h3 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: Arial;
    vertical-align: baseline;
}

.sys-settings td {
    padding-left: 10px;
    padding: 10px;
    font-size: 16px;
    vertical-align: top;
}

.sys-settings .settab tbody th {
    width: 150px;
    font-size: 14px;
    padding: 10px;
    text-align: left;
}

.sys-settings a {
    color: #D41B3E;
    font-size: 16px;
    text-decoration: underline;
}

.sys-settings ul {
    list-style: none;
}


.storeTable.ctable {
    margin: 0 auto;
}

.stores .forms h3 {
    font-size: 30px;
    margin-bottom: 17px;
}

.stores span.additem {
    background-color: #D41B3E;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 13px !important;
    padding: 10px 20px;
    margin-right:10px;
}

.stores .settings_search {
    height: 90px;
    padding: 0 0 10px;
}


.stores .forms {
    margin-bottom: 25px;
    margin-top: 47px;
}

.stores .theader, .stores .cheader {
    border: 1px solid #b9b9b9;
    color: #757575;
}


.stores #brand_space {
    width: 115px;
}

.stores tr.theader th {
    font-size: 16px !important;
}
.stores .ctable th {
    padding: 10px;
}
.stores .forms th {
    font-size: 14px !important;
    text-align: left;
}


.stores img.cstat {
    margin-left: auto;
    margin-right: auto;
    padding: 0 5px;
}

.stores .ctable td.store_checkbox {
    line-height: 40px;
}

.stores .tdata:hover {
    background-color: #c4e9f1;
    border-bottom: 1px solid #709da2;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.stores .tdata, .stores .cdata {
    background-color: #ffffff;
    border-bottom: 1px solid #b9b9b9;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    color: #000000;
}

.masterSettings{
   display:flex;
   width: 100%;
}
.masterSettings .versions{
    font-size: 30px !important;
    margin: 25px 0px 17px 0px !important;
    border: none !important;
}

.masterSettings .form_cbox {
    border: 1px solid #B9B9B9;
    height: 125px;
    margin: 5px 0 0 5px;
    overflow: auto;
    padding: 5px;
    width: 250px;
}

.masterSettings .forms input[type=submit] {
    background-color: #d41b3e;
    border: none;
    float: right;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 25px;
}

.sys-settings.forms {
    margin-bottom: 25px;
    margin-top: 47px;
    color: rgb(0, 0, 0);
}
.sys-settings h3.clear {
    font-size: 30px;
    margin-bottom: 17px;
}
.sys-settings .system_header {
    float: left;
}
.sys-settings .device_header {
    float: left;
    margin-left:8em;
}
.sys-settings .settab {
    width: 430px;
    float: left;
}

.sys-settings .settab tbody, .sys-settings .settab tr, .sys-settings span , .sys-settings th, .sys-settings ul, .sys-settings h3 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: Arial;
    vertical-align: baseline;
}

.sys-settings td {
    padding-left: 10px;
    padding: 10px;
    font-size: 16px;
    vertical-align: top;
}

.sys-settings .settab tbody th {
    width: 150px;
    font-size: 14px;
    padding: 10px;
    text-align: left;
}

.sys-settings a {
    color: #D41B3E;
    font-size: 16px;
    text-decoration: underline;
}

.sys-settings ul {
    list-style: none;
}
/* Remote System Actions */

.RemoteSystemActions h3 {
    border-radius: 0 0 0 0;
    color: #000;
    font-size: 20px;
    margin: 5px;
    padding: 5px;
 }

 .RemoteSystemActions input {
    border: 1px solid #b9b9b9;
    margin: 5px;
    padding: 5px;
}

.RemoteSystemActions .ui-corner-all,.RemoteSystemActions .ui-corner-bottom,.RemoteSystemActions .ui-corner-right,.RemoteSystemActions .ui-corner-br {
    border-bottom-right-radius: 6px;
}

.RemoteSystemActions a.ui-button,.RemoteSystemActions a:link.ui-button,.RemoteSystemActions a:visited.ui-button,.RemoteSystemActions .ui-button {
    color: #2779aa;
    text-decoration: none;
}

.RemoteSystemActions .ui-button .ui-button:active {
    border: 1px solid #aed0ea;
    background: #d7ebf9;
    font-weight: bold;
    color: #2779aa;
}

.RemoteSystemActions a{
width:15em;
font-size:12px;
text-align:left;
text-decoration: none;
}

.ActionButtons {
    width: 200px;
    background: #e4f2fb;
    padding: 5px;
    margin: 20px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    border:1px solid #b2b2d8
}

.ActionButtons:hover {
    background: #eff7fd;
}

#react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

#react-paginate li {
    display: inline-block;
}

#react-paginate .break a {
    cursor: default;
}

.search { position: relative;  display: inline-block; }
.search input { text-indent: 30px;}
.search .fa-search { 
    position: absolute;
    right: 17px;
    top: -23px;
}

.search_pos{
    border: 1px solid #E8E8E8;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 200px;
    height: 27px;
    left: 0;
    top: 0px;
    margin: 0px 0px 8px 2px;
    padding: 1px 1px 1px 1px;
    float: right;
    /* background-position: 168px; */
    border-radius: 4px;
}
.search_pos .search .searchBox{
    /* position: absolute; */
    border: 0px solid #b9b9b9;
    /* margin: 0px 34px; */
    /* padding: 1px; */
    width: 140px;
    height: 23px;
    outline: none;
    /* top: -31px; */
    /* left: -35px; */
}
.settings.forms div.storeHeight {
    height: 40px;
}

.search_pos .dropdown{
    width: 35px;
    display: inline-block;
}
.search_pos .search{
    width : 150px;
    display:flex;
    align-items: center;
}
.searchImage {
    margin-left: -11px;
    height: 15px;
}
.search input {
    text-indent: 0px;
}
button#dropdown-no-caret {
    color: blue;
}
#dropdown-no-caret{
    line-height: 9px;
    width: 31px;
    background: #aed0ea;
}

.dropdown-menu>li>a {
    display: flex;
    align-items: center;
    padding: 1px 10px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.dropdown-menu>li>a input {
    margin-right: 3px !important;
   
}
.dropdown-menu{
    background: #f2f5f7;
}

.dropdown-menu {
    min-width: 198px;
}
/* .dropdown-toggle{

} */

.react-confirm-alert-svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}
.custom-ui{
    position: absolute;
    height: auto;
    width: 400px;
    top: 234px;
    left: 375px;
    display: block;
    z-index: 103;
}

/* .merge-dialog{
    font-size: 14px;
    font-weight: bold;
    width: auto;
    min-height: 49px;
    max-height: none;
    height: auto;
} */

.custom-ui h1{
    border: 2px solid red;
    padding: 10px;
    border-radius: 25px;
    font-size: 16px;
}


/*********** System settings and system status css begins *******************/

 .merge-modal-popup{
    position: absolute;
    top: 298.5px;
    left: 170.5px;
    display: block;
    height: auto;
    width: 1000px;
    z-index: 102;
}

.system-status-table {
    width: 430px;
    margin-left: 50px;
    float: left;
}

.syatem-status-table tr td {
    padding-left: 10px;
    vertical-align: top;
}

table.system-status-table th {
    width: 150px;
}
.system-settings-status th {
    padding: 10px;
    font-size: 14px;
    font-weight : normal; 
    text-align: left;
}

.list-style-none {
    list-style: none;
}

.system-settings-container {
    float: right;
    margin-bottom: 20px;
    margin-right: 8px;
    min-height: 500px;
    width: 590px;
}

.system-settings-header, .system_header {
    border-radius: 0 0 0 0;
    color: #000;
    padding: 5px;
    font-size: 30px !important;
    margin: 25px 0px 17px 0px !important;
    border: none !important;
}

.settings-accordion-item div[aria-selected='true'] h3{
    background: #3baae3;
    font-weight: bold;
}

.system-settings-status{
    display:inline-block;
}
.system-settings-accordion {
    width: 590px;
}
.registered-store-list {
    padding-left: 0px;
}
.settings-accordion-header{
    display: block;
    cursor: pointer;
    position: relative;
    margin: 2px 0 0 0;
    padding: .5em .5em .5em .7em;
    font-size: 12px;
    background:#e8f3fc;

    border: 1px solid #B9B9B9;
    border-radius: 0 0 0 0;
    color: #000;

    font-weight: bold;    
}

.settings-accordion-content { 
    padding: 1em 2.2em;
    border-top: 0;
    overflow: auto;
    margin-left: 35px;

    height: 170px;
    width: 500px;
}

tr.settings-table-header th {
    width: 220px
}

tr.settings-table-header{
    border: 1px solid #b9b9b9;
    color: #757575;
}

tr.system-settings-row-data{
    background-color: #ffffff;
    border-bottom: 1px solid #b9b9b9;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    color: #000000;
    font-size:12px;
}

.text-right {
    text-align: right
}

tr.system-settings-row-data:hover{
    background-color: #c4e9f1;
    border-bottom: 1px solid #709da2;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.store-link {
    color: #D41B3E;
    text-decoration: underline;
} 

/*********** System settings and system status css ends here *******************/


/*********** System settings and system status css ends here *******************/

/******* store merge css starts here **************/
.store-merge-popup{
    position: absolute;
    /* top: 99px; */
    top: 65px;
    /* left: 170.5px; */
    left: 124.5px;
    height: auto;
    width: 1000px;
    display: block;
     /* z-index: 102;  */
     overflow:none;
}

.store-merge-popup .modal-content{
    width: auto;
    min-height: 0px;
    max-height: none;
    height: 446px;

    overflow: hidden;
    padding-left: 35px;

    position: relative;
    border: 0;
    /* padding: .5em 1em; */
    background: none;
    border: 1px solid #aed0ea;
    border-bottom-right-radius: 6px;
    background: #f2f5f7;
    color: #362b36;
}

.merge-store-header {
    /* padding-top: 20px; */
    padding-bottom: 20px;
    padding-left: 0px;
}
.merge-store-header h2 {
    font-size: 28px;
    margin: 0;
    padding-bottom: 0px;
}
.merge-store-wrapper{
    width: 900px;
    font-size: 12px;
}

.store-merge-body {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 20px;
}

.merge-store-row {
    display: table;
    width: 100%;
}

.select-sys-col {
    box-sizing: border-box;
    width: 39%;
    float: left;
    position: relative;
    min-height: 1px;
}

.select-system-content {
    border: 1px solid #ccc;
    padding: 0px;
    height: 156px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 323px;
    font-size: 12px;
}


.target-results-content table table tr th:nth-child(1) {
    width: 1%;
}
.target-results-content table table tr th:nth-child(2) {
    width: 27%;
}
.target-results-content table table tr th:nth-child(3) {
    width: 47%;
}
.target-results-content table table tr th:nth-child(4) {
    width: 27%;
}



.select-system-content table , .target-results-content table {
    width: 100%;
    border-bottom: 1px solid #f5f5f5;
}

.select-system-content table tr th:nth-child(1) {
    width: 10%;
} 
.select-system-content table tr th:nth-child(2) {
    width: 43%;
}
.select-system-content table tr th:nth-child(3) {
    width: 47%;
}

.select-system-content table tr th , .target-results-content table tr th{
    background-color: #ddd;
    color: #555;
    padding: 5px 10px;
    border-right: 1px solid #f5f5f5;
    padding-top: 7px;
    padding-bottom: 6px;
}

.select-system-content table tr td , .target-results-content table tr td {
    padding: 5px 10px;
    border-right: 1px solid #f5f5f5;
    padding-top: 7px;
    padding-bottom: 6px;
}

.select-system-content table tr:nth-child(even) , .target-results-content table tr:nth-child(even) {
    background: #ffffff;
}

.select-system-content table tr:nth-child(odd) , .target-results-content table tr:nth-child(odd) {
    background: #f5f5f5;
}

.target-store-col {
    border-left: 1px solid #ddd;
    padding-left: 28px;
    width: 57%;
    float: left;
    position: relative;
    min-height: 1px;
}


.select-system-col {
    width: 39%;
    float: left;
    position: relative;
    min-height: 1px;
    box-sizing: border-box
}
.select-system-col h3 {
    font-size: 16px;
    margin: 15px 0;
    font-weight: normal;
}
.target-store-col h3 {
    font-size: 16px;
    margin: 15px 0;
    font-weight: normal;
}

.form-group.target-store-group {
    padding: 10px 0;
    padding-top: 0px;
}

.merge-search-btn {
    display: inline-block;
    padding: 2px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;

    background-image: none;
    border: 1px solid transparent;

    color: #555;
    background-color: #ccc

}

.target-store-group .store-number-input {
    height: 22px;
    padding-left: 7px;
    margin-right: 5px;
}

.target-store-search {
    /* padding: 10px 0; */
    padding: 19px 0;
    padding-top: 0px;
}

.select-system-col .store-brand-info {
    height: 36px;
    padding-top: 0px;
}

.store-brand-info div {
    margin-top: 5px;
}

.merge-storenobrand-label {
    color: green;
}

.target-results-content {
    border: 1px solid #ccc;
    padding: 0px;
    height: 156px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.merger-popup-close {
    font-size: 20px;
    color: #d41b3e;
    float: left;
    margin-left: 25px;
    margin-top: 13px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 25px;
}

.store-merge-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0px;
}

.merger-error-block {
    width: 39%;
    float: left;
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
}

.save-merge-block {
    padding-right:0px;
    float:right;
    width: 57%;
    position: relative;
    min-height: 1px;
}

.merge-cancel {
    font-size: 14px!important;
    font-weight: 700;
    vertical-align: middle;
    line-height: 2.5;
    color: #D41B3E;
    text-decoration: none;
}

.merge-submit-btn {
    background-color: #d41b3e;
    border: none;
    float: right;
    color: #fff;
    cursor: pointer;
    padding: 10px 25px;
    font-size: 1em;
}

.alignItems{
    display: flex;
    align-items: center;
}
.alignItems label{
   padding-left: 5px;
   margin-bottom: 2px
}

.alignItems.selectAllHeader{
    margin-left: 10px !important
}

.settingsSection{
    margin: 0px 50px 50px 50px !important;
}

#settings-content{
    margin-right: 50px;
    position: absolute;
    bottom: 50px;
    right: 0px;
}
.destinationSectionRight{
    position: relative
}


#settings-btn {
    background: #D41B3E;
    border: none;
    padding: 5px 15px;
    color: white;
}

.cancel_btn{
    color: #D41B3E !important;
    font-weight: bold;
}

tr.storeTable th{
    font-size:16px !important
}