.black_link {
    color: black !important;
}

.user-info-section span {
    display: inline;
    float: left;
    font-size: 10px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

#Navbar ul li {
    color: #9be0ea !important;
    display: inline;
    float: left;
    font-size: 14px;
    padding-right: 30px;
    padding-top: 18px;
    text-transform: uppercase;
}
#Navbar {
    font-size: 14px;
    height: 56px;
    width: 80%;
    min-width: 900px;
}

#Navbar ul li.active_tab {
    color: white !important;
    font-weight: bold;
}
.subMenu {
    width: 100%;
    margin: 0 auto;
    display: block;
    height: 56px;
    font-size: 14px;
    height: 56px;
    width: 80%;
    min-width: 900px;
    float: none !important;
}
.menuBar {
    float:left;
}
.menuBar ul li {
    color: #9be0ea !important;
    display: inline;
    float: left;
    font-size: 14px;
    padding-right: 30px;
    padding-top: 18px;
    text-transform: uppercase;
}

.headerMenu{
   color: #9be0ea
}
a.active_tab.headerMenu {
color:white;
font-weight:bold;
}
.subMenu li a {
    color: #06b1cb;
}
.subMenu .active_tab {
    color: #06b1cb !important;
    font-weight: bold;
}
.headerLink {
    display: flex;
    align-items: center;
    text-decoration: none !important;
}


.headerLink span.username:hover{
    text-decoration: underline !important;
}