.black_link {
    color: black !important;
}

/*.view-as {
    color: rgb(245, 108, 108) !important;
}*/
.user-info-section span {
    display: inline;
    float: left;
    font-size: 10px;
    font-weight: bold;
    padding: 2px;
    text-align: left;
}

#Navbar ul li {
    color: #9be0ea !important;
    display: inline;
    float: left;
    font-size: 14px;
    padding-right: 30px;
    padding-top: 18px;
    text-transform: uppercase;
}
#Navbar {
    font-size: 14px;
    height: 56px;
    width: 80%;
    min-width: 900px;
}

#Navbar ul li.active_tab {
    color: white !important;
    font-weight: bold;
}
.subMenu {
    width: 100%;
    margin: 0 auto;
    display: block;
    height: 56px;
    font-size: 14px;
    height: 56px;
    width: 80%;
    min-width: 900px;
    float: none !important;
    border-bottom: 1px solid #ebebeb;
}
.menuBar {
    float:left;
}
.menuBar ul{
    padding: 0;
}
.menuBar ul li {
    color: #9be0ea !important;
    display: inline;
    float: left;
    font-size: 14px;
    padding-right: 30px;
    padding-top: 18px;
    text-transform: uppercase;
}

.headerMenu{
   color: #9be0ea
}
a.active_tab.headerMenu {
color:white;
font-weight:bold;
}
.subMenu li a {
    color: #06b1cb;
}
.subMenu .active_tab {
    color: #06b1cb !important;
    font-weight: bold;
}
.headerLink {
    display: flex;
    align-items: center;
    text-decoration: none !important;
}


.headerLink span.username:hover{
    text-decoration: underline !important;
}

.adminImage {
    margin-left: 30px;
}

.loginInfo {
text-align:right}

div.view-as button {
    border-radius: 36px;
    color: white !important;
    height: 15px;
    border: none;
    background: red;
    padding: 3px 5px;
    margin: 0px;
}
    div.view-as button span {
        color: white !important;
        font-size: 8px; 
        padding: 0px;
    }


div.view-as span {
    color: #D41B3E !important;
    text-decoration: none;
}

.loggedInUser {
    display:flex;
    justify-content:flex-end;
}

.view-as {
    display: flex;
    align-items: center;
    display: -webkit-flex;
}