body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.theader th.actcold:after {
  content: " \2193";
}

.theader th.actcol::after {
  content: " ↑";
}
.search_pos .search img {
cursor:pointer
}