.modalHeader {
    background-color: #87B6DB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 2px;
}

.ReactModal__Content
{
    padding: 2px !important;
    width: 255px !important;
    height: 139px;
}

.continueButton {
    width: 155px;
    height: 39px;
    font-size: 11px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #E9F5FD !important;
    color: #1b96c8;
    border-radius: 8px;
    box-shadow: 2px 2px 2px -2px black;
    border: none;
}
.autoSignOutContent {
    height: 50px;
}

.ReactModal__Overlay {
    background-color: rgba(18, 14, 14, 0.75) !important;
}


/* pagination css starts */
#react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

#react-paginate li {
    display: inline-block;
}

#react-paginate .break a {
    cursor: default;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover,
 .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{

    background-color:#fff;
    color:#000;
    border-color:#000 !important;
    
}
.pagination {  
    font-size: 10px;
    margin-left: 145px;
}
.pagination>li>a, .pagination>li>span{
    position: relative;
    float: left;
    padding: 3px 4px;
    margin-left: 5px;
    line-height: 1.42857143;
    color:#D41B3E;
    text-decoration: none;
      border: 1px solid #ddd;
}
.pagination>li>a:hover{
    background-color: #D41B3E;
    border-color: #D41B3E;
    color:#fff;
}
.pagination .break-me a, .pagination .break-me a:hover{
   border-top:none !important;
   border-bottom:none !important;
   cursor:disabled;
   color:#D41B3E;
   background-color:#fff
}

.dropDown_show{
display: inline-block;
font-size: 10px;
float: left;
margin-top: 24px;
}
.results{
     font-size: 10px;
    float: right;
    margin-top: 24px;
    }

    /* pagination css over */